@font-face {
    font-family: Inter-Regular;
    src: local('Inter-Regular'), url("../public/fonts/Inter-Regular.ttf") format('truetype');
}
@font-face {
    font-family: Inter-MediumItalic;
    src: local('Inter-MediumItalic'), url("../public/fonts/Inter-MediumItalic.ttf") format('truetype');
}
@font-face {
    font-family: Montserrat-Medium;
    src: local('Montserrat-Medium'), url("../public/fonts/Montserrat-Medium.ttf") format('truetype');
}
a{
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

img {
    display: block;
}
/*REMOVE SCROLLBAR FOR DEVELOPING PURPOSES*/
body::-webkit-scrollbar{
    display: none;
}
